body, html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(5, 120px);
    background-color: aqua;
    border: solid;
    border-color: red;
    border-radius: 1px;
}

.cell, span {
    /* height: 5px;
    width: 5px; */
    background-color: coral;
    border: solid;
    border-radius: 1px;
}

.tasks {
    padding-top: 500px;
}