body, html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    width: 500px;
    min-height: 500px;
    grid-template-columns: 0px;
    grid-template-rows: 0px;
    background-color: aqua;
    border: solid;
    border-color: red;
    border-radius: 1px;
}

/* .cell:hover {
    background-color: blue;
} */

.cell, span {
    background-color: coral;
}

.tasks {
    padding-top: 500px;
    width: 600px;
}